<h1>Menu</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @menus.each do |menu| %>
  <tr>
    <td><%= menu.desc %></td>
    <td>$<%= menu.price %></td>
    <td><%= link_to 'Edit Menu Item', edit_menu_path(menu) %></td>
    <td><%= link_to 'Remove Menu Item', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <!--<td><%= link_to 'Show', menu %></td>-->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add New Menu Item', new_menu_path %> <br/>
<br/><%= link_to 'New Order', new_order_path %><br/>
<br/><%= link_to 'View Orders', orders_path %>
<br/><%= link_to 'View Tickets', tickets_path %>

