<%= form_for(@cooked_status) do |f| %>
  <% if @cooked_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cooked_status.errors.count, "error") %> prohibited this cooked_status from being saved:</h2>

      <ul>
      <% @cooked_status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
