<h1>Listing cooked_statuses</h1>

<table>
  <tr>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cooked_statuses.each do |cooked_status| %>
  <tr>
    <td><%= cooked_status.desc %></td>
    <td><%= link_to 'Show', cooked_status %></td>
    <td><%= link_to 'Edit', edit_cooked_status_path(cooked_status) %></td>
    <td><%= link_to 'Destroy', cooked_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cooked status', new_cooked_status_path %>
