<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :res_name, 'Reservation Name' %><br />
    <%= f.text_field :res_name %>
  </div>
  <div class="field">
    <%= f.label :num_guests, 'Number of Guests' %><br />
    <%= f.number_field :num_guests %>
  </div>
  <div class="field">
    <%= f.label :server_name, 'Server Name' %><br />
    <%= f.text_field :server_name %>
  </div>
  <div class="field">
    <%= f.label :cook_name, 'Cook Name' %><br />
    <%= f.text_field :cook_name %>
  </div>
  <div class="field">
    <%= f.label :cashier_name, 'Cashier Name' %><br />
    <%= f.text_field :cashier_name %>
  </div>
  <div class="field">
    <%= f.label :cooked_status, 'Cooked Status' %><br />
    <%= f.collection_select(:cooked_status_id, CookedStatus.all,:id,:desc) %>
  </div>
  <div class="field">
    <%= f.label :paid_status, 'Paid Status' %><br />
    <%= f.collection_select(:paid_status_id, PaidStatus.all,:id,:desc)  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
