<h1>Orders</h1>

<table>
  <tr>
    <th>Reservation Name | </th>
    <th>Guests | </th>
    <th>Server | </th>
    <th>Cook | </th>
    <th>Cashier | </th>
    <th>Status  | </th>
    <th>Paid | </th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.res_name %> </td>
    <td><%= order.num_guests %> </td>
    <td><%= order.server_name %> </td>
    <td><%= order.cook_name %> </td>
    <td><%= order.cashier_name %></td>
    <td><%= order.cooked_status.desc %> | </td>
    <td><%= order.paid_status.desc %> </td>
    <td> <b>|</b> <%= link_to 'Show Ticket Details', order %> | </td>
    <td><%= link_to 'Edit Ticket Items', tickets_path %> | </td>
    <td><%= link_to 'Edit Order Information', edit_order_path(order) %> | </td>
    <td><%= link_to 'Remove Reservation', order, method: :delete, data: { confirm: 'Are you sure?' } %><b>|</b></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
