<p id="notice"><%= notice %></p>


<p>
  <b>Reservation Name:</b>
  <%= @order.res_name %>
</p>

<p>

<b>Number of Guests:</b>
<%= @order.num_guests %>
</p>

<p>
  <b>Server Name:</b>
  <%= @order.server_name %>
</p>

<p>
  <b>Cook Name:</b>
  <%= @order.cook_name %>
</p>

<p>
  <b>Cashier Name:</b>
  <%= @order.cashier_name %>
</p>

<p>
  <b>Menu Items:</b><br/>
  <%= @order.menus.map{|menu| menu.desc}.join(", ")  %><br/>
</p>



<p>
  <b>Price:</b><br/>$
  <%= @order.menus.map{|menu| menu.price}.join(", $")  %><br/>
</p>


<p>
  <b>Sub Total:</b> $
  <%= @order.sub_total %><br/>
  <b>Tax:</b> $
  <%= @order.tax %><br/>
</p>

<p>
  <b>Total After Tax:</b> $
  <%= @order.total_price %><br/>
</p>

<!--<p>-->
  <!--<b>Cooked status:</b>-->
  <!--<%= @order.cooked_status.desc %>-->
<!--</p>-->

<!--<p>-->
  <!--<b>Paid status:</b>-->
  <!--<%= @order.paid_status.desc %>-->
<!--</p>-->


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %> <br/>
<br/><%= link_to 'Add items to order', new_ticket_path %>
