<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :order, 'Reservation Name' %><br />
      <%= f.collection_select(:order_id, Order.all,:id,:res_name) %>
    </div>

    <div class="field">
      <%= f.label :menu, 'Menu Item' %><br />
      <%= f.collection_select(:menu_id, Menu.all,:id,:desc_price) %>
    </div>

  <div class="actions">
    <%= f.submit "Add item" %>
  </div>
<% end %>
