<h1>Tickets</h1>

<table>
  <tr>
    <th>Reservation Name</th>
    <th>Menu Item</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.order.res_name %></td>
    <td><%= ticket.menu.desc %></td>
    <td>$<%= ticket.menu.price %></td>
    <!--<td><%= link_to 'Show', ticket %></td>-->
    <td><%= link_to 'Change Item', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Remove Item', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'View Order Details', orders_path %></td>
  </tr>
<% end %>
</table>

<br />

<br/><%= link_to 'New Ticket Item', new_ticket_path %>
<br/><%= link_to 'View Menu', menus_path %><br/>
<br/><%= link_to 'View Orders', orders_path %>
<br/><%= link_to 'New Order', new_order_path %>
