<p id="notice"><%= notice %></p>

<p>
  <b>Reservation Name:</b>
  <%= @ticket.order.res_name %>
</p>

<p>
  <b>Menu Item:</b>
  <%= @ticket.menu.desc %>
</p>

<p>
  <b>Price: </b>$
  <%= @ticket.menu.price %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
