<h1>Hello Guest</h1>
<h2>Welcome to the Restaurant Ordering System</h2>
<table>
  <tr>
    Please fill in Order information and then proceed to Ticket to select items<br/>
    from the Menu for your Order.<br/>
  </tr>

  <br/> <%= link_to 'New Order', new_order_path %><br/>
  <!--<br/> <%= link_to 'View Current Orders', orders_path %><br/>-->
  <br/> <%= link_to 'View Menu', menus_path %>
</table>

<br />


