<h1>Listing paid_statuses</h1>

<table>
  <tr>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @paid_statuses.each do |paid_status| %>
  <tr>
    <td><%= paid_status.desc %></td>
    <td><%= link_to 'Show', paid_status %></td>
    <td><%= link_to 'Edit', edit_paid_status_path(paid_status) %></td>
    <td><%= link_to 'Destroy', paid_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Paid status', new_paid_status_path %>
